*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
    /* border:solid black 2px; */
}

h1{
    color: blue;
    text-align: center;
    margin-top: 20px;
}

p{
    color: green;
    text-align: center;
    margin-top: 10px;
}